@using WarlordsTavern.Models
@model IEnumerable<FoodType>

@{
    ViewBag.Title = "Index";
}

<h2>Browse Dish Types</h2>
<p>
    Select one of the @Model.Count() food types:
</p>
<ul>
    @foreach (FoodType item in Model)
    {
        <li>@Html.ActionLink(item.Name, "Browse", new { foodtype = item.Name })</li>
    }
</ul>
