@{
    ViewBag.Title = "Contact";
}

<div class="img4"><img src="~/Assets/images/map_x400-350.jpg" /> </div>
<h2>@ViewBag.Title.</h2>

<address>
    Worlds End Tavern, Dalaran Way<br />
    Dalaran, Northrend.<br />
    <abbr title="Phone">P:</abbr>
    705-555-6666
</address>

<address>
    <strong>Services:</strong>   <a href="mailto:Service@WorldsEnd.com">Service@WorldsEnd.com</a><br />
</address>

<p>
    <i class="fa fa-facebook-square fa-2x"  aria-hidden="true"></i>     |      <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>     |     <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
</p>
<br />
<br />
<br />
<br />
<br />
<br />
