@{
    ViewBag.Title = "Index";
}
<!--
     Index.cshtml
     Patrick Ross - Ryan Jameson
     Worlds End Tavern
     This is the home view for Worlds End Tavern
-->

<div class="img1">
    <img src="~/Assets/images/HomePage/worldsendtavern-wood.png" />
</div>
<div class="img2">
    <img src="~/Assets/images/HomePage/dinningroom_x500.jpg" /> <img src="~/Assets/images/HomePage/kitchen_x500.jpg" />
</div>
<div class="img3">
    <img src="~/Assets/images/HomePage/privatedinning_x500.jpg" /> <img src="~/Assets/images/HomePage/overviewdinningroom_x500.jpg" />
</div>
